<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.twogether.local7.vote.dao.VoteDAO">

    <resultMap id="voteMap" type="com.twogether.local7.vote.vo.VoteVO">
        <id property="regionId" column="REGION_ID"/>
        <result property="postTitle" column="POST_TITLE"/>
        <result property="krName" column="krName"/>
        <result property="viewCount" column="VIEW_COUNT"/>
    </resultMap>

    <resultMap id="userMap" type="com.twogether.local7.vote.vo.VoteVO">
        <id property="userId" column="USER_ID"/>
        <result property="hasVoted" column="HAS_VOTED"/>
        <result property="votedRegion" column="VOTED_REGION"/> </resultMap>

    <resultMap id="voteResultMap" type="com.twogether.local7.vote.vo.VoteVO">
        <id property="regionId" column="REGION_ID"/>
        <result property="krName" column="krName"/>
        <result property="viewCount" column="VIEW_COUNT"/>
        <result property="votedRegionCount" column="VOTED_REGION_COUNT"/> </resultMap>

    <update id="increaseViewCount">
        UPDATE tb_region
        SET view_count = view_count + 1
        WHERE region_id = #{regionId}
    </update>

    <update id="updateHasVoted">
        UPDATE tb_user
        SET has_voted = 'Y'
        WHERE user_id = #{userId}
    </update>

    <update id="updateVotedRegion">
        UPDATE tb_user
        SET voted_region = #{regionId}
        WHERE user_id = #{userId}
    </update>

    <select id="getAllViewCount" resultMap="voteResultMap">
        <![CDATA[
            SELECT  region_id,
            SUBSTR(region_description, 1, 2) AS krName,
            view_count
            FROM tb_region
            ORDER BY view_count DESC
        ]]>
    </select>

    <select id="getUserById" resultMap="userMap">
        SELECT
        user_id,
        has_voted,
        voted_region FROM tb_user
        WHERE user_id = #{userId}
    </select>

    <select id="getVotedRegionCounts" resultMap="voteResultMap">
        SELECT
        main.REGION_ID,
        main.krName,
        main.VIEW_COUNT,
        COUNT(tu.VOTED_REGION) AS VOTED_REGION_COUNT
        FROM
        (SELECT
        tr.REGION_ID,
        TO_CHAR(SUBSTR(tr.REGION_DESCRIPTION, 1, 2)) AS krName, tr.VIEW_COUNT
        FROM
        TB_REGION tr
        ) main
        LEFT JOIN
        TB_USER tu ON main.REGION_ID = tu.VOTED_REGION
        GROUP BY
        main.REGION_ID, main.krName, main.VIEW_COUNT
        ORDER BY
        VOTED_REGION_COUNT DESC
    </select>

</mapper>