<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.twogether.local7.vote.dao.VotePostDAO">

    <resultMap id="votePostMap" type="com.twogether.local7.vote.vo.VotePostVO">
        <id property="postId" column="POST_ID"/>
        <result property="postTitle" column="POST_TITLE"/>
        <result property="postContent" column="POST_CONTENT"/>
        <result property="createdDate" column="CREATED_DATE"/>
        <result property="locationTag" column="LOCATION_TAG"/>
        <result property="userCount" column="USER_COUNT"/>
        <result property="userNickname" column="USER_NICKNAME"/>
        <result property="userProfImgUrl" column="USER_PROF_IMG_URL"/>
        <result property="imageUrl" column="IMAGE_URL"/>
    </resultMap>

    <select id="getAllPosts" resultMap="votePostMap">
        SELECT *
        FROM (
        SELECT
        p.post_id,
        p.post_title,
        p.post_content,
        TO_CHAR(p.created_date, 'YY.MM.DD') AS created_date,
        p.location_tag,
        l.user_count,
        u.user_nickname,
        u.user_prof_img_url,
        pi.image_url
        FROM (
        SELECT post_id, COUNT(user_id) AS user_count
        FROM tb_like
        GROUP BY post_id
        ) l
        JOIN tb_post p ON l.post_id = p.post_id
        JOIN tb_user u ON p.user_id = u.user_id
        LEFT JOIN tb_post_image pi ON p.post_id = pi.post_id
        ORDER BY l.user_count DESC
        )
        WHERE ROWNUM &lt;= 10
    </select>

</mapper>

