<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.twogether.local7.vote.dao.VoteCommentDAO">

    <select id="getAllComments" resultType="com.twogether.local7.vote.vo.VoteCommentVO">
        SELECT user_id, content, TO_CHAR(created_date, 'YY/MM/DD') AS date,
        TO_CHAR(created_date, 'HH24:MI') AS time  FROM tb_comment ORDER BY created_data DESC
    </select>

    <insert id="insertComment" parameterType="com.twogether.local7.vote.vo.VoteCommentVO">
        INSERT INTO tb_comment (content) VALUES (#{content})
    </insert>

</mapper>