/* src/pages/RestaurantPage.css */
.restaurant-page-container {
    padding: 20px;
    text-align: center;
}

.map-container {
    width: 800px;
    height: 600px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.error-message {
    color: red;
}

.restaurant-list {
    list-style-type: none;
    padding: 0;
}

.restaurant-item {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}