.vote-container {
  text-align: center;
  margin-top: 60px;
}

.vote-buttons button {
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.selected {
  color: blueviolet;
  border-color: blueviolet;
}

.tap-contents {
  display: flex;
  width: 400px;
  margin: auto;
}

.tap-contents > div {
  background-color: #ffcc00;
  flex: auto;
  width: fit-content;
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.tap-contents > div:hover {
  background-color: darkgoldenrod;
}

.views-contents {
  display: flex;
}
