h2 {
  color: #ffff;
}

.vote-container {
  text-align: center;
  margin-top: 60px;
}

.vote-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
  max-width: 600px;
  margin: auto;
}

.vote-buttons button {
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.vote-todo-Button {
  background-color: #ffcc00;
  width: fit-content;
  font-size: 20px;
  padding: 10px 60px;
  margin: 10px;
  border-radius: 20px;
  color: #ffff;
  cursor: pointer;
}

.vote-todo-Button:enabled:hover {
  background-color: darkgoldenrod;
}

.tap-contents {
  display: flex;
  width: 400px;
  margin: auto;
}

.tap-contents > div {
  background-color: darkgoldenrod;
  flex: auto;
  width: fit-content;
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.selected-region {
  color: blueviolet;
  border: solid 3px blueviolet;
  font-weight: bold;
}

.selected-tap {
  background-color: #ffcc00 !important;
  font-weight: 1000;
}

/* 댓글 css -----------------------------------------*/
.comment-section {
  margin: auto;
  padding: 10px;
  max-width: 400px;
  font-family: sans-serif;
}

.comment-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

.comment-content {
  flex-grow: 1;
}

.top-line {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-size: 12px;
  color: #999;
}

.text {
  display: block;
  text-align: left;
  margin-top: 4px;
  font-size: 14px;
  word-break: break-word;
}

.time {
  margin-left: 8px;
}

.report,
.date {
  font-size: 11px;
  text-align: right;
  color: #666;
  margin-left: 8px;
}

.report:hover {
  color: red;
}

.comment-input {
  display: flex;
  margin-top: 15px;
}

.comment-input input {
  flex-grow: 1;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 6px 0 0 6px;
  outline: none;
}

.comment-input button {
  background: black;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}
