<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.twogether.local7.signup.dao.SignupDAO">

    <insert id="insertUser" parameterType="com.twogether.local7.signup.vo.SignupVO">
        INSERT INTO TB_USER (
        USER_ID,
        RULE_ID,
        LOGIN_ID,
        USER_NAME,
        USER_PASSWORD,
        USER_EMAIL,
        USER_NICKNAME,
        USER_PROF_IMG_URL,
        USER_BIO,
        CREATE_DATE,
        CREATED_ID
        ) VALUES (
        SEQ_TB_USER.NEXTVAL,
        #{ruleId},
        #{userLoginId},
        #{userName},
        #{userPassword},
        #{userEmail},
        #{userNickname},
        #{userProfImgUrl},
        #{userBio},
        SYSTIMESTAMP,
        #{userLoginId}
        )
    </insert>

    <select id="countByUserLoginId" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM TB_USER WHERE LOGIN_ID = #{userLoginId}
    </select>

    <select id="countByUserEmail" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM TB_USER WHERE USER_EMAIL = #{userEmail}
    </select>

    <select id="countByUserNickname" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM TB_USER WHERE USER_NICKNAME = #{userNickname}
    </select>

</mapper>