<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.twogether.sra.signup.dao.SignupDAO">

    <insert id="insertUser" parameterType="com.twogether.sra.signup.vo.SignupVO">
        INSERT INTO TB_USER (
        USER_LOGIN_ID,
        USER_USERNAME,
        USER_PASSWORD,
        USER_EMAIL,
        USER_NICKNAME,
        USER_PROFILE_IMAGE_URL,
        USER_BIO,
        USER_CREATED_AT,
        USER_UPDATED_AT
        ) VALUES (
        #{userLoginId},
        #{userUsername},
        #{userPassword},
        #{userEmail},
        #{userNickname},
        #{userProfileImageUrl},
        #{userBio},
        SYSTIMESTAMP,
        SYSTIMESTAMP
        )
    </insert>

    <select id="countByUserLoginId" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM TB_USER WHERE USER_LOGIN_ID = #{userLoginId}
    </select>

    <select id="countByUserEmail" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM TB_USER WHERE USER_EMAIL = #{userEmail}
    </select>

    <select id="countByUserNickname" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM TB_USER WHERE USER_NICKNAME = #{userNickname}
    </select>

</mapper>