<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.twogether.local7.user.dao.UserDAO">

    <resultMap id="userResultMap" type="com.twogether.local7.user.vo.UserVO">
        <id property="userId" column="USER_ID"/>
        <result property="userLoginId" column="LOGIN_ID"/>
        <result property="userName" column="USER_NAME"/>
        <result property="userPassword" column="USER_PASSWORD"/>
        <result property="userEmail" column="USER_EMAIL"/>
        <result property="userNickname" column="USER_NICKNAME"/>
        <result property="userProfileImageUrl" column="USER_PROF_IMG_URL"/>
        <result property="userBio" column="USER_BIO"/>
        <result property="ruleId" column="RULE_ID"/>
        <result property="createDate" column="CREATE_DATE"/>
        <result property="createdId" column="CREATED_ID"/>
        <result property="updatedDate" column="UPDATED_DATE"/>
        <result property="updatedId" column="UPDATED_ID"/>
    </resultMap>

    <resultMap id="postResultMap" type="com.twogether.local7.user.vo.PostDetailVO">
        <id property="postId" column="POST_ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="userLoginId" column="LOGIN_ID"/>
        <result property="restaurantId" column="RESTAURANT_ID"/>
        <result property="postTitle" column="POST_TITLE"/>
        <result property="postContent" column="POST_CONTENT"/>
        <result property="locationTag" column="LOCATION_TAG"/>
        <result property="createdDate" column="CREATED_DATE"/>
        <result property="createdId" column="CREATED_ID"/>
        <result property="updatedDate" column="UPDATED_DATE"/>
        <result property="updatedId" column="UPDATED_ID"/>
        <result property="commentCount" column="COMMENT_COUNT"/>
    </resultMap>

    <select id="findByUserId" parameterType="long" resultMap="userResultMap">
        SELECT
        USER_ID, RULE_ID, LOGIN_ID, USER_NAME, USER_PASSWORD, USER_EMAIL,
        USER_NICKNAME, USER_PROF_IMG_URL, USER_BIO, CREATE_DATE, CREATED_ID,
        UPDATED_DATE, UPDATED_ID
        FROM TB_USER
        WHERE USER_ID = #{userId}
    </select>

    <update id="updateUserLoginId" parameterType="map">
        UPDATE TB_USER
        SET LOGIN_ID = #{newUserLoginId}, UPDATED_DATE = SYSTIMESTAMP
        WHERE USER_ID = #{userId}
    </update>

    <select id="countByUserLoginId" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM TB_USER
        WHERE LOGIN_ID = #{userLoginId}
    </select>

    <select id="countByUserNickname" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM TB_USER
        WHERE USER_NICKNAME = #{userNickname}
    </select>

    <update id="updateUserNickname" parameterType="map">
        UPDATE TB_USER
        SET USER_NICKNAME = #{newUserNickname}, UPDATED_DATE = SYSTIMESTAMP
        WHERE USER_ID = #{userId}
    </update>

    <delete id="deleteUser" parameterType="long">
        DELETE FROM TB_USER WHERE USER_ID = #{userId}
    </delete>

    <select id="findPostsByUserId" parameterType="long" resultMap="postResultMap">
        SELECT
        P.POST_ID,
        P.USER_ID,
        U.LOGIN_ID,
        P.RESTAURANT_ID,
        P.POST_TITLE,
        P.POST_CONTENT,
        P.LOCATION_TAG,
        P.CREATED_DATE,
        P.CREATED_ID,
        P.UPDATED_DATE,
        P.UPDATED_ID,
        P.COMMENT_COUNT  FROM  TB_POST P
        JOIN
        TB_USER U ON P.USER_ID = U.USER_ID
        WHERE
        P.USER_ID = #{userId}
    </select>

    <select id="countPostsByUserId" parameterType="long" resultType="int">
        SELECT COUNT(*)
        FROM TB_POST
        WHERE USER_ID = #{userId}
    </select>

    <select id="findByUserLoginId" parameterType="string" resultMap="userResultMap">
        SELECT
        USER_ID, RULE_ID, LOGIN_ID, USER_NAME, USER_PASSWORD, USER_EMAIL,
        USER_NICKNAME, USER_PROF_IMG_URL, USER_BIO, CREATE_DATE, CREATED_ID,
        UPDATED_DATE, UPDATED_ID
        FROM TB_USER
        WHERE LOGIN_ID = #{userLoginId}
    </select>

    <select id="findByUserNickname" parameterType="string" resultMap="userResultMap">
        SELECT
        USER_ID, RULE_ID, LOGIN_ID, USER_NAME, USER_PASSWORD, USER_EMAIL,
        USER_NICKNAME, USER_PROF_IMG_URL, USER_BIO, CREATE_DATE, CREATED_ID,
        UPDATED_DATE, UPDATED_ID
        FROM TB_USER
        WHERE USER_NICKNAME = #{userNickname}
    </select>

    <select id="findPostById" parameterType="long" resultMap="postResultMap">
        SELECT
        P.POST_ID,
        P.USER_ID,
        U.LOGIN_ID,
        P.RESTAURANT_ID,
        P.POST_TITLE,
        P.POST_CONTENT,
        P.LOCATION_TAG,
        P.CREATED_DATE,
        P.CREATED_ID,
        P.UPDATED_DATE,
        P.UPDATED_ID,
        P.COMMENT_COUNT
        FROM TB_POST P
        JOIN TB_USER U ON P.USER_ID = U.USER_ID
        WHERE P.POST_ID = #{postId}
    </select>
</mapper>