<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.twogether.local7.login.dao.LoginDAO">

    <resultMap id="loginResultMap" type="com.twogether.local7.login.vo.LoginVO">
        <id property="userId" column="USER_ID"/>
        <result property="userLoginId" column="LOGIN_ID"/>
        <result property="userEmail" column="USER_EMAIL"/>
        <result property="userPassword" column="USER_PASSWORD"/>
        <result property="userName" column="USER_NAME"/>
        <result property="userNickname" column="USER_NICKNAME"/>
        <result property="userProfileImageUrl" column="USER_PROF_IMG_URL"/>
        <result property="userBio" column="USER_BIO"/>
        <result property="ruleId" column="RULE_ID"/>
        <result property="createDate" column="CREATE_DATE"/>
        <result property="createdId" column="CREATED_ID"/>
        <result property="updatedDate" column="UPDATED_DATE"/>
        <result property="updatedId" column="UPDATED_ID"/>
        <association property="ruleName" javaType="String">
            <result column="RULE_NAME"/>
        </association>
    </resultMap>

    <select id="findByUserLoginId" parameterType="String" resultMap="loginResultMap">
        SELECT
        T.USER_ID,
        T.LOGIN_ID,
        T.USER_EMAIL,
        T.USER_PASSWORD,
        T.USER_NAME,
        T.USER_NICKNAME,
        T.USER_PROF_IMG_URL,
        T.USER_BIO,
        T.RULE_ID,
        TR.RULE_NAME,
        T.CREATE_DATE,
        T.CREATED_ID,
        T.UPDATED_DATE,
        T.UPDATED_ID
        FROM TB_USER T
        JOIN TB_RULE TR ON T.RULE_ID = TR.RULE_ID
        WHERE T.LOGIN_ID = #{userLoginId}
    </select>

    <select id="findByUserEmail" parameterType="String" resultMap="loginResultMap">
        SELECT
        T.USER_ID,
        T.LOGIN_ID,
        T.USER_EMAIL,
        T.USER_PASSWORD,
        T.USER_NAME,
        T.USER_NICKNAME,
        T.USER_PROF_IMG_URL,
        T.USER_BIO,
        T.RULE_ID,
        TR.RULE_NAME,
        T.CREATE_DATE,
        T.CREATED_ID,
        T.UPDATED_DATE,
        T.UPDATED_ID
        FROM TB_USER T
        JOIN TB_RULE TR ON T.RULE_ID = TR.RULE_ID
        WHERE T.USER_EMAIL = #{userEmail}
    </select>

    <insert id="insertOAuthUser" parameterType="com.twogether.local7.login.vo.LoginVO">
        <selectKey keyProperty="userId" resultType="long" order="BEFORE">
            SELECT SEQ_TB_USER.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TB_USER (
        USER_ID,
        LOGIN_ID,
        USER_EMAIL,
        USER_NAME,
        USER_PROF_IMG_URL,
        RULE_ID,
        CREATE_DATE,
        CREATED_ID,
        USER_PASSWORD,
        USER_NICKNAME,
        USER_BIO
        ) VALUES (
        #{userId},
        #{userLoginId},
        COALESCE(#{userEmail, jdbcType=VARCHAR}, ''), #{userName},
        #{userProfileImageUrl, jdbcType=VARCHAR},
        #{ruleId},
        #{createDate},
        #{createdId},
        COALESCE(#{userPassword, jdbcType=VARCHAR}, 'NO_PASSWORD_OAUTH'),
        COALESCE(#{userNickname, jdbcType=VARCHAR}, 'Kakao_User'),
        COALESCE(#{userBio, jdbcType=VARCHAR}, 'Self-introduction not provided.')
        )
    </insert>

    <update id="updateOAuthUser" parameterType="com.twogether.local7.login.vo.LoginVO">
        UPDATE TB_USER
        SET
        USER_NAME = #{userName},
        USER_PROF_IMG_URL = #{userProfileImageUrl, jdbcType=VARCHAR},
        UPDATED_DATE = #{updatedDate},
        UPDATED_ID = #{updatedId}
        WHERE USER_ID = #{userId}
    </update>
</mapper>