/* src/review/ReviewForm.css */
.review-form-container {
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.review-form-container h3 {
    margin-top: 0;
    color: #f0f0f0;
}

.review-rating-input {
    margin-bottom: 15px;
    font-size: 2rem;
    cursor: pointer;
}

.star-icon {
    color: #555;
    transition: color 0.2s;
}

.star-icon.filled {
    color: #f39c12; /* 황금색 */
}

.review-content-input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #555;
    background-color: #444;
    color: #f0f0f0;
    font-family: inherit;
    resize: vertical;
}

.form-actions {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 10px;
}

.submit-button11 {
    background-color: #FFCC00;
    color: #000000;
    border: 1px solid transparent; /* 기본은 투명 테두리 */
    padding: 6px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s; /* 부드러운 테두리 전환 */
}
.cancel-button11 {
    background-color: #333;
    color: #000000;
    border: 1px solid transparent; /* 기본은 투명 테두리 */
    padding: 6px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s; /* 부드러운 테두리 전환 */
}

.submit-button11:hover {
    color: #fff;
    border-color: #FFCC00;
}

.cancel-button11:hover {
    color: #fff;
    border-color: #FFCC00;
}

.submit-button11:disabled {
    background-color: #555;
    cursor: not-allowed;
}

.modal-close-button {
    margin-top:10px;
}