/* src/components/Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
}

/* LOCAL 스타일 */
.local {
  font-family: 'Faster One', cursive;
  font-size: 2.5rem;
  color: #79AAFF;
}


/* R7 스타일 */
.r7 {
  font-family: 'Faster One', sans-serif;
  font-size: 2.5rem;
  color: #FFCC00; /* 파랑 */
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
  border-radius: 4px; /* Added for smoother hover effect */
}

.nav-link:hover {
  background-color: #555;
}