/* src/components/Sidebar.css */

/* Sidebar 스타일 (Sidebar.css에서 가져옴) */
.sidebar-container {
    width: 80px; /* 사이드바 너비 */
    background-color: #111111; /* 배경색 */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0; /* 사이드바 내부 상하 패딩 */
    box-shadow: 2px 0 5px rgba(0,0,0,0.2);
    height: 100%; /* Sidebar가 main-content-area의 높이를 꽉 채우도록 설정 */
    flex-shrink: 0; /* Sidebar가 줄어들지 않도록 설정 */
    margin: 0;
    position: fixed; /* 추가: 왼쪽에 고정 */
    top: 0;
    left: 0;
    z-index: 1500;
    height: 100%;
    border-right: 1px solid #e0e0e0;
}


.sidebar-button {
    background: transparent;
    border: none;
    color: white;
    padding: 18px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.sidebar-button:hover {
    background-color: #575757;
}

.sidebar-icon {
    font-size: 24px;
    margin-bottom: 5px;
}
