/* UserInfoSection.css */
.user-info-section {
    background: #444444;
    display: flex;
    align-items: center;
    gap: 10px; /* 간격 약간 줄임 */
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 0px 115px; /* 패딩 줄임 */
    margin-bottom: 20px; /* margin 줄임 */
}

.profile-image-container {
    margin-bottom: 20px;
}



.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ddd;
}

.user-details p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

.user-details p strong {
    color: #333;
    width: 80px; /* 라벨 너비 고정 */
    display: inline-block;
}